flows_ATSDENWNB007.json
[{"id":"98462b47.161a48","type":"tab","label":"Test1NXT","disabled":false,"info":""},{"id":"52070768.218da","type":"subflow","name":"Calculation","info":"","in":[{"x":95.77775573730469,"y":147.4444580078125,"wires":[{"id":"281cba4e.85da0e"},{"id":"ab48f0b7.2abe08"}]}],"out":[{"x":920.8890991210938,"y":151.55551147460938,"wires":[{"id":"a0f52c37.d33328","port":0}]}]},{"id":"b7cc39db.51ceb","type":"subflow","name":"StartTest","info":"","in":[{"x":135.00001525878906,"y":31.99999237060547,"wires":[{"id":"f655ff99.f8682"}]}],"out":[{"x":1156.3333435058594,"y":139.888916015625,"wires":[{"id":"d2251023.1e2448","port":0}]}]},{"id":"1e9dc213.52825e","type":"subflow","name":"RequestInput","info":"","in":[{"x":25.555557250976562,"y":80,"wires":[{"id":"d26a21f0.6fd2"},{"id":"e44b37fb.aac3c"}]}],"out":[{"x":1342.2222290039062,"y":81.11109924316406,"wires":[{"id":"5aa90197.98d38","port":0}]}]},{"id":"85872125.79acc","type":"subflow","name":"SendState","info":"","in":[{"x":50,"y":30,"wires":[{"id":"beb02ade.c8b91"}]}],"out":[{"x":816,"y":297.00000762939453,"wires":[{"id":"80a0578e.6da8b","port":0}]}]},{"id":"baaac27.0b4eec","type":"subflow","name":"Valve","info":"","in":[{"x":36.666656494140625,"y":32.22221374511719,"wires":[{"id":"aac5c086.1eab58"},{"id":"1742ee90.5ee0e9"},{"id":"c043c5d0.592288"}]}],"out":[{"x":916.6670532226562,"y":363.3333740234375,"wires":[{"id":"aebb3aa6.a18c2","port":0}]}]},{"id":"2753ad74.881c3a","type":"subflow","name":"End","info":"","in":[{"x":50,"y":30,"wires":[{"id":"4aae35ca.41f74c"},{"id":"d0d8e5a1.cadd38"},{"id":"e546eb68.e885e8"}]}],"out":[]},{"id":"b9039299.a044b","type":"subflow","name":"Timer","info":"","in":[],"out":[]},{"id":"de65a7fd.c477c","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://127.0.0.1:4096/iaopcua/Basic128Rsa15","secpol":"Basic128Rsa15","secmode":"SIGNANDENCRYPT","login":true},{"id":"9cbe1a11.f66828","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://127.0.0.1:4096/iaopcua/Basic128Rsa15","secpol":"Basic128Rsa15","secmode":"SIGNANDENCRYPT","login":true},{"id":"281cba4e.85da0e","type":"function","z":"52070768.218da","name":"LN","func":"var math = global.get('mathjs');\nmsg.payload = math.log(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":277.2222137451172,"y":151.22222900390625,"wires":[["4edeec13.d43c1c","a0f52c37.d33328"]]},{"id":"969d548.007fea8","type":"OpcUa-Client","z":"b7cc39db.51ceb","endpoint":"de65a7fd.c477c","action":"read","time":"1","timeUnit":"s","name":"","x":617.7777709960938,"y":143.33334350585938,"wires":[["d2251023.1e2448"]]},{"id":"dd862323.80ee3","type":"subflow:b7cc39db.51ceb","z":"98462b47.161a48","name":"","x":391.6666259765625,"y":108.1111068725586,"wires":[["b76f8a5a.8ec7f8"]]},{"id":"d2251023.1e2448","type":"switch","z":"b7cc39db.51ceb","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","outputs":2,"x":806.1112670898438,"y":143.5555419921875,"wires":[["8382c925.817328","96246bee.379f8"],["be23f973.133758","64316ce3.118d14"]]},{"id":"442af468.69fe7c","type":"inject","z":"b7cc39db.51ceb","name":"","topic":"ns=1;s=[NXT]_Meta:Writeable/WriteableString1;datatype=String","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":89.44438171386719,"y":88.77779388427734,"wires":[["722b6a2b.bfa534"]]},{"id":"f1ecb63c.736358","type":"change","z":"1e9dc213.52825e","name":"SetPfadEingabewert","rules":[{"t":"set","p":"topic","pt":"msg","to":"ns=1;s=[NXT]_Meta:Writeable/WriteableInteger1;datatype=Int32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":80,"wires":[["5aa90197.98d38"]]},{"id":"15e87981.ad1236","type":"comment","z":"1e9dc213.52825e","name":"Integer1","info":"","x":881,"y":123,"wires":[]},{"id":"5aa90197.98d38","type":"OpcUa-Client","z":"1e9dc213.52825e","endpoint":"9cbe1a11.f66828","action":"read","time":10,"timeUnit":"s","name":"EingabewertLesen","x":1121.6666870117188,"y":80.55555725097656,"wires":[["a955a6e.5a15258"]]},{"id":"6bf7ddd4.5e92d4","type":"switch","z":"1e9dc213.52825e","name":"Bestätigung","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","outputs":2,"x":650,"y":80,"wires":[["f1ecb63c.736358","c00a9f21.4f0cd"],["fcf18c8d.43077"]]},{"id":"7730e0.4bacff2","type":"OpcUa-Client","z":"1e9dc213.52825e","endpoint":"de65a7fd.c477c","action":"read","time":"1","timeUnit":"s","name":"BestätigungLesen","x":441.11114501953125,"y":81.11109924316406,"wires":[["6bf7ddd4.5e92d4"]]},{"id":"d26a21f0.6fd2","type":"change","z":"1e9dc213.52825e","name":"SetPfadBestätigung","rules":[{"t":"set","p":"topic","pt":"msg","to":"ns=1;s=[NXT]_Meta:Writeable/WriteableBoolean2;datatype=Boolean","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":215.5555877685547,"y":81.11112976074219,"wires":[["7730e0.4bacff2"]]},{"id":"e7c33455.564e28","type":"comment","z":"1e9dc213.52825e","name":"Integer2","info":"","x":193.4444122314453,"y":134.77777099609375,"wires":[]},{"id":"25f81f20.ec6ac","type":"subflow:1e9dc213.52825e","z":"98462b47.161a48","name":"","x":420,"y":360,"wires":[["871e4520.076668"]]},{"id":"c00a9f21.4f0cd","type":"change","z":"1e9dc213.52825e","name":"Reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":220,"wires":[["30b76605.2b7042"]]},{"id":"ddd0f369.dca68","type":"OpcUa-Client","z":"1e9dc213.52825e","endpoint":"de65a7fd.c477c","action":"write","time":10,"timeUnit":"s","name":"ResetBit","x":976.6668090820312,"y":220,"wires":[[]]},{"id":"3eed1fca.256518","type":"OpcUa-Client","z":"85872125.79acc","endpoint":"de65a7fd.c477c","action":"write","time":10,"timeUnit":"s","name":"","x":1001.6666870117188,"y":186.77789306640625,"wires":[[]]},{"id":"cba0065a.073b98","type":"delay","z":"85872125.79acc","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":479.11109924316406,"y":340.00001525878906,"wires":[["a2e4c1dc.436398"]]},{"id":"80a0578e.6da8b","type":"change","z":"85872125.79acc","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390.44444274902344,"y":223.6666717529297,"wires":[["bb7c8d91.8de028"]]},{"id":"f83959e9.5c8e08","type":"OpcUa-Item","z":"85872125.79acc","item":"ns=1;s=[NXT]_Meta:Writeable/WriteableInteger5","datatype":"Int32","value":"","name":"send Time","x":722.29638671875,"y":187.64816284179688,"wires":[["3eed1fca.256518","cba0065a.073b98"]]},{"id":"29eb361c.a75402","type":"change","z":"85872125.79acc","name":"initializeTime","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":344.2962646484375,"y":103.92591857910156,"wires":[["80a0578e.6da8b"]]},{"id":"a2e4c1dc.436398","type":"function","z":"85872125.79acc","name":"Add 1","func":"msg.payload = msg.payload + 1;\nreturn msg;","outputs":1,"noerr":0,"x":633.1852264404297,"y":340.0370330810547,"wires":[["80a0578e.6da8b"]]},{"id":"f1deb920.d629","type":"OpcUa-Item","z":"85872125.79acc","item":"ns=1;s=[NXT]_Meta:Writeable/WriteableInteger3","datatype":"Int32","value":"","name":"Write Procedure","x":185.4073028564453,"y":554.75927734375,"wires":[["62f6495a.605cc"]]},{"id":"62f6495a.605cc","type":"OpcUa-Client","z":"85872125.79acc","endpoint":"de65a7fd.c477c","action":"write","time":10,"timeUnit":"s","name":"","x":424.29640197753906,"y":551.2408447265625,"wires":[[]]},{"id":"96942933.aa015","type":"subflow:85872125.79acc","z":"1e9dc213.52825e","name":"Status","x":399.85186767578125,"y":318.6666564941406,"wires":[[]]},{"id":"e44b37fb.aac3c","type":"change","z":"1e9dc213.52825e","name":"SetTemplateCode","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":196.51850382486978,"y":318.83332994249133,"wires":[["96942933.aa015"]]},{"id":"ab48f0b7.2abe08","type":"change","z":"52070768.218da","name":"SetTemplateCode","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":351.2037353515625,"y":291.2037353515625,"wires":[["131eb1ea.fd991e"]]},{"id":"131eb1ea.fd991e","type":"subflow:85872125.79acc","z":"52070768.218da","name":"Status","x":532.3148803710938,"y":291.03704833984375,"wires":[[]]},{"id":"a0f52c37.d33328","type":"delay","z":"52070768.218da","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":649.8519287109375,"y":149.94448852539062,"wires":[[]]},{"id":"30b76605.2b7042","type":"OpcUa-Item","z":"1e9dc213.52825e","item":"ns=1;s=[NXT]_Meta:Writeable/WriteableBoolean2","datatype":"Boolean","value":"","name":"","x":776.5185038248698,"y":220.3148227267795,"wires":[["ddd0f369.dca68"]]},{"id":"ce93138e.ca65d8","type":"OpcUa-Client","z":"85872125.79acc","endpoint":"de65a7fd.c477c","action":"subscribe","time":"1","timeUnit":"s","name":"CheckProcedureRun","x":825.4075164794922,"y":64.57408142089844,"wires":[["49f7b6ab.4897c"]]},{"id":"c4015b1d.fe6348","type":"change","z":"85872125.79acc","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"ns=1;s=[NXT]_Meta:Writeable/WriteableBoolean1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":604.2963104248047,"y":62.999969482421875,"wires":[["ce93138e.ca65d8"]]},{"id":"49f7b6ab.4897c","type":"switch","z":"85872125.79acc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","outputs":1,"x":1039.8518524169922,"y":98.64811706542969,"wires":[[]]},{"id":"a955a6e.5a15258","type":"debug","z":"1e9dc213.52825e","name":"","active":true,"console":"false","complete":"true","x":1346.5183715820312,"y":190.72216796875,"wires":[]},{"id":"4aae35ca.41f74c","type":"change","z":"2753ad74.881c3a","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Startbereit","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"99","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":279.8518371582031,"y":79.111083984375,"wires":[["5b4e8f10.0c122","e0e329fd.cb67a"]]},{"id":"a98b9250.b86958","type":"OpcUa-Item","z":"2753ad74.881c3a","item":"ns=1;s=[NXT]_Meta:Writeable/WriteableBoolean1","datatype":"Boolean","value":"","name":"","x":388.981447007921,"y":308.98147922092016,"wires":[["37e0bda5.6e8e7a"]]},{"id":"37e0bda5.6e8e7a","type":"OpcUa-Client","z":"2753ad74.881c3a","endpoint":"de65a7fd.c477c","action":"write","time":10,"timeUnit":"s","name":"","x":622.3150634765625,"y":316.5740661621094,"wires":[[]]},{"id":"d0d8e5a1.cadd38","type":"change","z":"2753ad74.881c3a","name":"Reset Start","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":208.0925750732422,"y":308.1296081542969,"wires":[["a98b9250.b86958"]]},{"id":"2ab35fce.837748","type":"subflow:baaac27.0b4eec","z":"98462b47.161a48","name":"","x":430,"y":460,"wires":[["76e645ec.03d1ac"]]},{"id":"cad20764.846e28","type":"subflow:2753ad74.881c3a","z":"98462b47.161a48","name":"","x":415.40740966796875,"y":563.851806640625,"wires":[]},{"id":"55bf99b8.66afe","type":"subflow:85872125.79acc","z":"baaac27.0b4eec","name":"","x":417.62969970703125,"y":517.5555725097656,"wires":[[]]},{"id":"aac5c086.1eab58","type":"change","z":"baaac27.0b4eec","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":175.4073944091797,"y":510.5926208496094,"wires":[["55bf99b8.66afe"]]},{"id":"fcf18c8d.43077","type":"delay","z":"1e9dc213.52825e","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":428.7406921386719,"y":168.27777099609375,"wires":[["d26a21f0.6fd2"]]},{"id":"be23f973.133758","type":"delay","z":"b7cc39db.51ceb","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":563.3148803710938,"y":250.64817810058594,"wires":[["969d548.007fea8","4603f753.a26378"]]},{"id":"4603f753.a26378","type":"change","z":"b7cc39db.51ceb","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"ns=1;s=[NXT]_Meta:Writeable/WriteableBoolean1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":766.7408447265625,"y":252.4629669189453,"wires":[[]]},{"id":"722b6a2b.bfa534","type":"OpcUa-Client","z":"b7cc39db.51ceb","endpoint":"de65a7fd.c477c","action":"subscribe","time":"1","timeUnit":"s","name":"checkSubstate","x":114.18516540527344,"y":181.16668701171875,"wires":[["ea9674d0.20b64"]]},{"id":"ea9674d0.20b64","type":"switch","z":"b7cc39db.51ceb","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Startbereit","vt":"str"}],"checkall":"true","outputs":1,"x":271.07415771484375,"y":181.35186767578125,"wires":[["f1f882dc.fce9"]]},{"id":"f1f882dc.fce9","type":"change","z":"b7cc39db.51ceb","name":"StartBit","rules":[{"t":"set","p":"topic","pt":"msg","to":"ns=1;s=[NXT]_Meta:Writeable/WriteableBoolean1;datatype=Boolean","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":414.07403564453125,"y":180.61111450195312,"wires":[["969d548.007fea8"]]},{"id":"4edeec13.d43c1c","type":"OpcUa-Item","z":"52070768.218da","item":"ns=1;s=[NXT]_Meta:Writeable/WriteableFloat1","datatype":"Float","value":"","name":"","x":454.2962646484375,"y":61.24073791503906,"wires":[["5a561cd9.1c3714"]]},{"id":"5a561cd9.1c3714","type":"OpcUa-Client","z":"52070768.218da","endpoint":"de65a7fd.c477c","action":"write","time":10,"timeUnit":"s","name":"","x":637.6296997070312,"y":62.16667175292969,"wires":[[]]},{"id":"db4335c3.8562d","type":"OpcUa-Item","z":"baaac27.0b4eec","item":"ns=1;s=[NXT]_Meta:Writeable/WriteableShort2","datatype":"Int16","value":"","name":"","x":356.5184326171875,"y":27.907394409179688,"wires":[["320361c7.361ae6"]]},{"id":"320361c7.361ae6","type":"OpcUa-Client","z":"baaac27.0b4eec","endpoint":"de65a7fd.c477c","action":"write","time":10,"timeUnit":"s","name":"","x":667.6295776367188,"y":28.833343505859375,"wires":[[]]},{"id":"b2687d91.6331e","type":"delay","z":"baaac27.0b4eec","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":406.51849365234375,"y":220.77777099609375,"wires":[["ab115a0e.9f71"]]},{"id":"2adea4f4.08f38c","type":"OpcUa-Client","z":"baaac27.0b4eec","endpoint":"de65a7fd.c477c","action":"write","time":10,"timeUnit":"s","name":"","x":901.203857421875,"y":131.2037353515625,"wires":[[]]},{"id":"ab115a0e.9f71","type":"function","z":"baaac27.0b4eec","name":"Add 1","func":"msg.payload = msg.payload + 1;\nreturn msg;","outputs":1,"noerr":0,"x":498.740966796875,"y":120.03701782226562,"wires":[["44862bc8.e911cc"]]},{"id":"44862bc8.e911cc","type":"switch","z":"baaac27.0b4eec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"target","vt":"global"},{"t":"eq","v":"target","vt":"global"}],"checkall":"true","outputs":2,"x":527.6297607421875,"y":319.8518371582031,"wires":[["11d378cc.23f4d7","b2687d91.6331e"],["11d378cc.23f4d7","aebb3aa6.a18c2"]]},{"id":"1742ee90.5ee0e9","type":"function","z":"baaac27.0b4eec","name":"setTarget","func":"global.set(\"target\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":177.62962341308594,"y":30.037033081054688,"wires":[["db4335c3.8562d"]]},{"id":"49f3e358.96a6d4","type":"change","z":"98462b47.161a48","name":"Eingabe Ventiloeffnung","rules":[{"t":"set","p":"topic","pt":"msg","to":"Eingabe Ventiloeffnung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":360,"wires":[["25f81f20.ec6ac"]]},{"id":"871e4520.076668","type":"change","z":"98462b47.161a48","name":"Ventil ansteuern","rules":[{"t":"set","p":"topic","pt":"msg","to":"Ventil ansteuern","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":460,"wires":[["2ab35fce.837748"]]},{"id":"76e645ec.03d1ac","type":"change","z":"98462b47.161a48","name":"Testabschluss","rules":[{"t":"set","p":"topic","pt":"msg","to":"Testabschluss","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":143.42591857910156,"y":564.5370483398438,"wires":[["cad20764.846e28"]]},{"id":"e372d982.66ce18","type":"OpcUa-Client","z":"85872125.79acc","endpoint":"de65a7fd.c477c","action":"write","time":10,"timeUnit":"s","name":"","x":794.2965087890625,"y":475.6851501464844,"wires":[[]]},{"id":"fb33594f.6d6c3","type":"OpcUa-Item","z":"85872125.79acc","item":"ns=1;s=[NXT]_Meta:Writeable/WriteableString1","datatype":"String","value":"","name":"Write Step","x":587.629638671875,"y":473.6481628417969,"wires":[["e372d982.66ce18"]]},{"id":"b11124e4.19228","type":"change","z":"85872125.79acc","name":"send step name","rules":[{"t":"set","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370.96295166015625,"y":470.7778015136719,"wires":[["fb33594f.6d6c3"]]},{"id":"11d378cc.23f4d7","type":"OpcUa-Item","z":"baaac27.0b4eec","item":"ns=1;s=[NXT]_Meta:Writeable/WriteableShort1","datatype":"Int16","value":"","name":"","x":712.31494140625,"y":132.31472778320312,"wires":[["2adea4f4.08f38c"]]},{"id":"5c838fc4.9f8bd8","type":"OpcUa-Client","z":"baaac27.0b4eec","endpoint":"de65a7fd.c477c","action":"read","time":10,"timeUnit":"s","name":"","x":314.2962951660156,"y":147.72225952148438,"wires":[["b2687d91.6331e"]]},{"id":"c043c5d0.592288","type":"change","z":"baaac27.0b4eec","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"ns=1;s=[NXT]_Meta:Writeable/WriteableShort1;datatype=Int16","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":175.40739271375867,"y":90.03702799479167,"wires":[["5c838fc4.9f8bd8"]]},{"id":"152c01f4.c6a006","type":"OpcUa-Item","z":"baaac27.0b4eec","item":"ns=1;s=[NXT]_Meta:Writeable/WriteableShort1","datatype":"Int16","value":"","name":"","x":721.2039794921875,"y":462.3149719238281,"wires":[["9586863c.024d48"]]},{"id":"9586863c.024d48","type":"OpcUa-Client","z":"baaac27.0b4eec","endpoint":"de65a7fd.c477c","action":"write","time":10,"timeUnit":"s","name":"","x":907.8705444335938,"y":465.6483459472656,"wires":[[]]},{"id":"d8c0b495.9ece28","type":"change","z":"baaac27.0b4eec","name":"reset valve","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":545.4075317382812,"y":461.6111145019531,"wires":[["152c01f4.c6a006"]]},{"id":"5b4e8f10.0c122","type":"OpcUa-Item","z":"2753ad74.881c3a","item":"ns=1;s=[NXT]_Meta:Writeable/WriteableInteger3","datatype":"Int32","value":"","name":"","x":560.9629516601562,"y":124.85183715820312,"wires":[["37e0bda5.6e8e7a"]]},{"id":"e20aef8c.6b5fe8","type":"OpcUa-Item","z":"2753ad74.881c3a","item":"ns=1;s=[NXT]_Meta:Writeable/WriteableString1","datatype":"String","value":"","name":"","x":608.7406616210938,"y":189.29629516601562,"wires":[["37e0bda5.6e8e7a"]]},{"id":"e0e329fd.cb67a","type":"change","z":"2753ad74.881c3a","name":"Reset Step","rules":[{"t":"set","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400.9630126953125,"y":188.74075317382812,"wires":[["e20aef8c.6b5fe8"]]},{"id":"beb02ade.c8b91","type":"switch","z":"85872125.79acc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"999","vt":"num"}],"checkall":"true","outputs":1,"x":132.07406616210938,"y":70.870361328125,"wires":[["c4015b1d.fe6348","29eb361c.a75402","f1deb920.d629","b11124e4.19228"]]},{"id":"aebb3aa6.a18c2","type":"delay","z":"baaac27.0b4eec","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":693.1852416992188,"y":347.4444274902344,"wires":[["d8c0b495.9ece28"]]},{"id":"6a25fa94.248274","type":"OpcUa-Item","z":"b7cc39db.51ceb","item":"ns=1;s=[NXT]_Meta:Writeable/WriteableString2","datatype":"String","value":"","name":"","x":1133.86669921875,"y":62.45000457763672,"wires":[["714208ba.4df6e8"]]},{"id":"714208ba.4df6e8","type":"OpcUa-Client","z":"b7cc39db.51ceb","endpoint":"de65a7fd.c477c","action":"write","time":"1","timeUnit":"s","name":"","x":1325.0833740234375,"y":64.08333587646484,"wires":[[]]},{"id":"f655ff99.f8682","type":"function","z":"b7cc39db.51ceb","name":"Save Testname","func":"global.set('Test',msg.topic)\nreturn msg;","outputs":1,"noerr":0,"x":270.8666534423828,"y":32.94999694824219,"wires":[[]]},{"id":"8382c925.817328","type":"change","z":"b7cc39db.51ceb","name":"set Test","rules":[{"t":"set","p":"payload","pt":"msg","to":"Test","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":917.8667144775391,"y":87.61666870117188,"wires":[["6a25fa94.248274","b3c7935c.7762a8"]]},{"id":"2aa178d2.c5fe7","type":"inject","z":"98462b47.161a48","name":"Testname","topic":"Test1 NXT","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":136.8666534423828,"y":86.8499984741211,"wires":[["dd862323.80ee3"]]},{"id":"24ab6834.c5984","type":"OpcUa-Item","z":"2753ad74.881c3a","item":"ns=1;s=[NXT]_Meta:Writeable/WriteableString2","datatype":"String","value":"","name":"","x":390.08331298828125,"y":383.0833435058594,"wires":[["37e0bda5.6e8e7a"]]},{"id":"e546eb68.e885e8","type":"change","z":"2753ad74.881c3a","name":"Reset Test","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":209.19444105360242,"y":382.2314724392361,"wires":[["24ab6834.c5984","bdbdfd2f.155818"]]},{"id":"b3c7935c.7762a8","type":"debug","z":"b7cc39db.51ceb","name":"","active":true,"console":"false","complete":"false","x":1119.86669921875,"y":20,"wires":[]},{"id":"bdbdfd2f.155818","type":"debug","z":"2753ad74.881c3a","name":"","active":true,"console":"false","complete":"false","x":409.8666534423828,"y":459.1499786376953,"wires":[]},{"id":"821ed668.c013e","type":"delay","z":"b9039299.a044b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":346.08331298828125,"y":308.0740966796875,"wires":[["7cb38a72.f5319c"]]},{"id":"7cb38a72.f5319c","type":"function","z":"b9039299.a044b","name":"Add 1","func":"msg.payload = msg.payload + 1;\nreturn msg;","outputs":1,"noerr":0,"x":585.1574096679688,"y":308.1111145019531,"wires":[[]]},{"id":"889f3b6e.e80ba","type":"change","z":"b9039299.a044b","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":276.4166259765625,"y":132.74075317382812,"wires":[["c4aa0b2.610da78"]]},{"id":"c4aa0b2.610da78","type":"OpcUa-Item","z":"b9039299.a044b","item":"ns=1;s=[NXT]_Meta:Writeable/WriteableInteger5","datatype":"Int32","value":"","name":"send Time","x":452.2685852050781,"y":132.72222900390625,"wires":[["e9b14b78.b285a8","821ed668.c013e"]]},{"id":"e9b14b78.b285a8","type":"OpcUa-Client","z":"b9039299.a044b","endpoint":"de65a7fd.c477c","action":"write","time":10,"timeUnit":"s","name":"","x":744.638916015625,"y":133.85195922851562,"wires":[[]]},{"id":"bb7c8d91.8de028","type":"switch","z":"85872125.79acc","name":"Check Timer","property":"Timer","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":512.8665771484375,"y":163.53335571289062,"wires":[["113053e6.fe1944"],["f83959e9.5c8e08"]]},{"id":"113053e6.fe1944","type":"change","z":"85872125.79acc","name":"Deactivate","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":666.8666076660156,"y":120.11666107177734,"wires":[["f83959e9.5c8e08"]]},{"id":"64316ce3.118d14","type":"function","z":"b7cc39db.51ceb","name":"Stop Timer","func":"global.set('Timer',0)\nreturn msg;","outputs":1,"noerr":0,"x":1065.25,"y":264.0833435058594,"wires":[[]]},{"id":"96246bee.379f8","type":"function","z":"b7cc39db.51ceb","name":"Start Timer","func":"global.set('Timer',1)\nreturn msg;","outputs":1,"noerr":0,"x":1063.25,"y":204.08334350585938,"wires":[[]]},{"id":"b76f8a5a.8ec7f8","type":"change","z":"98462b47.161a48","name":"Eingabe fuer Berechnung","rules":[{"t":"set","p":"topic","pt":"msg","to":"Eingabe fuer Berechnung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":180,"wires":[["6e3b278a.e0bd28"]]},{"id":"6e3b278a.e0bd28","type":"subflow:1e9dc213.52825e","z":"98462b47.161a48","name":"","x":426.66685485839844,"y":181.40737915039062,"wires":[["27bc115e.a91a6e"]]},{"id":"27bc115e.a91a6e","type":"change","z":"98462b47.161a48","name":"Berechnung","rules":[{"t":"set","p":"topic","pt":"msg","to":"Berechnung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":145.79629516601562,"y":278.20367431640625,"wires":[["7fb1ffd6.9edb7"]]},{"id":"7fb1ffd6.9edb7","type":"subflow:52070768.218da","z":"98462b47.161a48","name":"","x":433.4817352294922,"y":277.00006103515625,"wires":[["49f3e358.96a6d4"]]}]